/* Threema Consumer theme */
[data-branding='consumer'] {
  --color-primary-50: #ecfdf4;
  --color-primary-100: #d9fae9;
  --color-primary-200: #9cf2c6;
  --color-primary-300: #7deeb5;
  --color-primary-400: #5feaa3;
  --color-primary-500: #40e692;
  --color-primary-600: #36d588;
  --color-primary-700: #2cc47e;
  --color-primary-800: #0b734e;
  --color-primary-900: #00412a;
}
