@font-face {
  font-family: 'Open Sans';
  src: url('/res/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/res/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: italic;
}
