@use 'sass:color';
@use 'sass:map';

$consumer: (
  primary-color-50: #ecfdf4,
  primary-color-100: #d9fae9,
  primary-color-200: #9cf2c6,
  primary-color-300: #7deeb5,
  primary-color-400: #5feaa3,
  primary-color-500: #40e692,
  primary-color-600: #36d588,
  primary-color-700: #2cc47e,
  primary-color-800: #0e9061,
  primary-color-900: #0b734e,
);
