@use 'sass:color';
@use 'sass:map';

$onprem: (
  primary-color-50: #ffe9e6,
  primary-color-100: #ffd7d2,
  primary-color-200: #ffc5be,
  primary-color-300: #ffb4ab,
  primary-color-400: #ffa297,
  primary-color-500: #ff9083,
  primary-color-600: #e37469,
  primary-color-700: #c85950,
  primary-color-800: #750603,
  primary-color-900: #460402,
);
