@use 'sass:color';
@use 'sass:map';

$work: (
  primary-color-50: #dcf5ff,
  primary-color-100: #c0edff,
  primary-color-200: #a4e6ff,
  primary-color-300: #89deff,
  primary-color-400: #6dd7ff,
  primary-color-500: #51cfff,
  primary-color-600: #41afe0,
  primary-color-700: #318fc1,
  primary-color-800: #002e63,
  primary-color-900: #001c3b,
);
